<%- include('../include/head.ejs') %>
    <link rel="stylesheet" href="/Tab_page.css">

    <%- include('../include/admin_anchor.ejs') %>


        <!-- 帳號 -->
        <% for (let account of accou) { %>
            <article>
                <header>
                    <h1>
                        <%= account.workerName %>
                    </h1>
                </header>
                <div>
                    <img src="/pic/<%=account.workerName %>.jpg" alt="<%= account.workerName %>">
                </div>
                <div>
                    <h2>
                        <%= account.workItem %>
                    </h2>
                    <p>
                        <%= account.phoneNum %>
                    </p>
                </div>
                <!-- 修改圖示 -->
                <a href="/admin/account/edit-account/<%= account._id %>" id="edit-icon">
                    <img src="/public/edit.png" alt="修改">
                </a>
                <!-- 刪除圖示 -->
                <!-- 不同頁面同一個jQuery功能要不同 id 命名 -->
                <a href="/admin/account/delete-account/<%= account._id %>" id="delete-account-icon">
                    <img src="/public/trash.png" alt="刪除">
                </a>
            </article>
            <% } %>
                </body>