<%- include('../include/head.ejs') %>
    <!--為了tab用 -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--為了tableSorter用 -->
    <script type="text/javascript" src="/include/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/Tab_page.css">

    <%- include('../include/user_anchor.ejs') %>


        <!-- 庫存 -->
        <div>
            <a id="plus-icon">
                <img src="/plus.png" alt="新增">
            </a>
        
            <table class="scroll" id="myTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>供應商</th>
                        <th>編號</th>
                        <th>尺寸 (呎)</th>
                        <th>數量 (碼)</th>
                        <th>價格</th>
                        <th>材質</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let num = 0; num < prods.length; num++){ %>
                        <tr>
                            <td>
                                <!-- 更改圖示 -->
                                <a>
                                    <img src="/public/edit.png" alt="修改" >
                                </a>
                                <!-- 刪除圖示 -->
                                <a>
                                    <img src="/public/trash.png" alt="刪除" >
                                </a>
                            </td>
                            <td>
                                <%= prods[num]["provider"] %>
                            </td>
                            <td>
                                <%= prods[num]["idNumber"] %>
                            </td>
                            <td>
                                <%= prods[num]["specification"] %>
                            </td>
                            <td>
                                <%= prods[num]["quantity"] %>
                            </td>
                            <td>
                                <%= prods[num]["price"] %>
                            </td>
                            <td>
                                <%= prods[num]["texture"] %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        </body>