<%- include('../include/head.ejs') %>
    <!--為了tab用 -->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <!--為了tableSorter用 -->
    <script type="text/javascript" src="/include/jquery.tablesorter.js"></script>
    <link rel="stylesheet" href="/Tab_page.css">

    <%- include('../include/user_anchor.ejs') %>


        <!-- 工作紀錄 -->
        <div>
            <a id="plus-icon">
                <img src="/plus.png" alt="新增">
            </a>

            <table class="scroll" id="myTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>師傅</th>
                        <th>項目</th>
                        <th>尺寸</th>
                        <th>數量</th>
                        <th>地址</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let num = 0; num < works.length; num++){ %>
                        <tr>
                            <td>
                                <!-- 更改圖示 -->
                                <a>
                                    <img src="/public/edit.png" alt="修改" id="<%=num%>">
                                </a>
                                <!-- 刪除圖示 -->
                                <a>
                                    <img src="/public/trash.png" alt="刪除" id="<%=num%>">
                            </td>
                            <td>
                                <%= works[num]["worker"] %>
                            </td>
                            <td>
                                <%= works[num]["workItem"] %>
                            </td>
                            <td>
                                <%= works[num]["specification"] %>
                            </td>
                            <td>
                                <%= works[num]["quantity"] %>
                            </td>
                            <td>
                                <%= works[num]["location"] %>
                            </td>
                            <td>
                                <%= works[num]["date"] %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        </body>